{{- if _CONDITION_ }}
  {{- $context  := deepCopy . -}}
  {{- $_        := set $context.Values "addonName"      "validating-admission-policies"          -}}
  {{- $_        := set $context.Values "suffix"         ""                 -}}
  {{- $_        := set $context.Values "parametersName" "parameters-infra" -}}

---
apiVersion: addons.in-cloud.io/v1alpha1
kind: AddonPhase
metadata:
  name: validating-admission-policies
spec:
  rules:
{{- end }}
