---
apiVersion: addons.in-cloud.io/v1alpha1
kind: AddonValue
metadata:
  name: kubeadm-resources-client
  annotations:
    gotemplating.fn.crossplane.io/composition-resource-name: addonValueKonnectivityAgentClient
    gotemplating.fn.crossplane.io/ready: "True"
  labels:
    addons.in-cloud.io/values: client
    addons.in-cloud.io/addon: kubeadm-resources
spec:
  values: |
    clusterInfo:
      clusterApiUrl: "https://{{ .Values.cluster.host }}:{{ .Values.cluster.port }}"
      clusterName: "{{ .Values.cluster.name }}"
      kubeCaCrtBase64: "{{ .Values.cluster.kubeCaCrtBase64 }}"
    kubeadmConfig:
      namespace: kube-system
      clusterConfiguration:
        clusterName: "{{ .Values.cluster.name }}"
        controlPlaneEndpoint: "{{ .Values.cluster.host }}:{{ .Values.cluster.port }}"
    rbac:
      authExtraGroups: "system:bootstrappers:kubeadm:default-node-token"
