resources:
  ccnpVxlanOverlay:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-host-vxlan-8472
    spec:
      description: "VXLAN overlay (UDP:8472) between cluster nodes"
      nodeSelector: {}
      egress:
      - toEntities:
        - remote-node
        toPorts:
        - ports:
          - port: "8472"
            protocol: UDP
      - toCIDR:
        - 0.0.0.0/0 #cluster-node-cidrs
        toPorts:
        - ports:
          - port: "8472"
            protocol: UDP
      ingress:
      - fromEntities:
        - remote-node
        toPorts:
        - ports:
          - port: "8472"
            protocol: UDP
      - fromCIDR:
        - 0.0.0.0/0 #cluster-node-cidrs
        toPorts:
        - ports:
          - port: "8472"
            protocol: UDP
  ccnpCiliumHealth4240:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-host-cilium-health-4240
    spec:
      description: "cilium-health probes (TCP:4240) node-to-node and node-to-endpoint"
      nodeSelector: {}
      egress:
      - toEntities:
        - remote-node
        - health
        toPorts:
        - ports:
          - port: "4240"
            protocol: TCP
      - toCIDR:
        - 0.0.0.0/0 #cluster-node-cidrs
        toPorts:
        - ports:
          - port: "4240"
            protocol: TCP
      ingress:
      - fromEntities:
        - remote-node
        - health
        toPorts:
        - ports:
          - port: "4240"
            protocol: TCP
      - fromCIDR:
        - 0.0.0.0/0 #cluster-node-cidrs
        toPorts:
        - ports:
          - port: "4240"
            protocol: TCP
  ccnpHostIcmpEcho:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-host-icmp-echo
    spec:
      description: "ICMP echo-request for cilium-health node/endpoint checks"
      nodeSelector: {}
      egress:
      - toEntities:
        - remote-node
        - health
        icmps:
        - fields:
          - type: 8
            family: IPv4
      ingress:
      - fromEntities:
        - remote-node
        - health
        icmps:
        - fields:
          - type: 8
            family: IPv4
  ccnpEtcdPeer:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-host-etcd-peer-2380
    spec:
      description: "etcd peer replication (TCP:2380) between control-plane nodes"
      nodeSelector: {}
      egress:
      - toEntities:
        - remote-node
        toPorts:
        - ports:
          - port: "2380"
            protocol: TCP
      - toCIDR:
        - 0.0.0.0/0 #cluster-node-cidrs
        toPorts:
        - ports:
          - port: "2380"
            protocol: TCP
      ingress:
      - fromEntities:
        - remote-node
        toPorts:
        - ports:
          - port: "2380"
            protocol: TCP
      - fromCIDR:
        - 0.0.0.0/0 #cluster-node-cidrs
        toPorts:
        - ports:
          - port: "2380"
            protocol: TCP
  ccnpEgressEtcdClient2379:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-host-egress-etcd-client-2379
    spec:
      description: "kube-apiserver to etcd members :2379"
      nodeSelector: {}
      egress:
      - toEntities:
        - remote-node
        toPorts:
        - ports:
          - port: "2379"
            protocol: TCP
      - toCIDR:
        - 0.0.0.0/0 #cluster-node-cidrs
        toPorts:
        - ports:
          - port: "2379"
            protocol: TCP
  ccnpEgressKubeApiserver6443:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-host-egress-kube-apiserver-6443
    spec:
      description: "Host components (kubelet, kube-proxy, cilium) to kube-apiserver :6443"
      nodeSelector: {}
      egress:
      - toEntities:
        - kube-apiserver
        toPorts:
        - ports:
          - port: "6443"
            protocol: TCP
      - toCIDR:
        - 0.0.0.0/0 #kube-apiserver-vips cluster-node-cidrs
        toPorts:
        - ports:
          - port: "6443"
            protocol: TCP
  ccnpIngressKubeApiserver6443:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-host-ingress-kube-apiserver-6443
    spec:
      description: "kube-apiserver :6443 from in-cluster workloads and management networks"
      nodeSelector: {}
      ingress:
      - fromEntities:
        - cluster
        toPorts:
        - ports:
          - port: "6443"
            protocol: TCP
      - fromCIDR:
        - 0.0.0.0/0 #host-mgmt-networks
        toPorts:
        - ports:
          - port: "6443"
            protocol: TCP
  ccnpIngressKubeletFromKubeApiserver:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-host-ingress-kubelet-from-kube-apiserver-10250
    spec:
      description: "kube-apiserver to kubelet API :10250 (exec/logs/port-forward)"
      nodeSelector: {}
      ingress:
      - fromEntities:
        - kube-apiserver
        toPorts:
        - ports:
          - port: "10250"
            protocol: TCP
  ccnpEgressApiserviceKubelet10250:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-host-egress-apiservice-kubelet-10250
    spec:
      description: "kube-apiserver to kubelet :10250"
      nodeSelector:
        matchLabels:
          node-role.kubernetes.io/control-plane: ""
      egress:
      - toEntities:
        - remote-node
        - kube-apiserver
        toPorts:
        - ports:
          - port: "10250"
            protocol: TCP
  ccnpMgmtNetToSsh:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-host-ingress-ssh-22
    spec:
      description: "SSH to host from management networks only"
      nodeSelector: {}
      ingress:
      - fromCIDR:
        - 0.0.0.0/0 #host-mgmt-networks
        toPorts:
        - ports:
          - port: "22"
            protocol: TCP
  ccnpHostDnsUpstream:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-host-egress-dns-upstream
    spec:
      description: "Host resolver to upstream DNS servers from node resolv.conf"
      nodeSelector: {}
      egress:
      - toCIDR:
        - 0.0.0.0/0 #external-dns
        toPorts:
        - ports:
          - port: "53"
            protocol: UDP
          - port: "53"
            protocol: TCP
  ccnpToNtp:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-host-egress-ntp
    spec:
      description: "Host NTP client (:123/UDP)"
      nodeSelector: {}
      egress:
      - toEntities:
        - world
        toPorts:
        - ports:
          - port: "123"
            protocol: UDP
  ccnpContainerdPull:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-host-egress-containerd-pull
    spec:
      description: "containerd image pull to external registries (:443/TCP)"
      nodeSelector: {}
      egress:
      - toEntities:
        - world
        toPorts:
        - ports:
          - port: "443"
            protocol: TCP
  ciliumclusternetpolicyCiliumHealth:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-bidirectional-cilium-health-checks-4240
    spec:
      endpointSelector: {}
      ingress:
      - fromEntities:
        - remote-node
        - health
        toPorts:
        - ports:
          - port: '4240'
            protocol: TCP
      egress:
      - toEntities:
        - remote-node
        - health
        toPorts:
        - ports:
          - port: '4240'
            protocol: TCP
      description: |
        Allows bidirectional Cilium health check traffic between remote nodes
        and health endpoints on TCP/4240.
  ciliumclusternetpolicyICMP:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-bidirectional-icmp-and-ipv6-discovery
    spec:
      endpointSelector: {}
      egress:
      - toEntities:
        - remote-node
        - host
        icmps:
        - fields:
          - type: 8
            family: IPv4
          - type: 0
            family: IPv4
          - type: 11
            family: IPv4
          - type: 133
            family: IPv6
          - type: 134
            family: IPv6
          - type: 135
            family: IPv6
          - type: 136
            family: IPv6
          - type: 137
            family: IPv6
      - toCIDR:
        - 0.0.0.0/0
        icmps:
        - fields:
          - type: 8
            family: IPv4
          - type: 0
            family: IPv4
          - type: 11
            family: IPv4
          - type: 133
            family: IPv6
          - type: 134
            family: IPv6
          - type: 135
            family: IPv6
          - type: 136
            family: IPv6
          - type: 137
            family: IPv6
      ingress:
      - fromEntities:
        - remote-node
        - host
        icmps:
        - fields:
          - type: 8
            family: IPv4
          - type: 0
            family: IPv4
          - type: 11
            family: IPv4
          - type: 133
            family: IPv6
          - type: 134
            family: IPv6
          - type: 135
            family: IPv6
          - type: 136
            family: IPv6
          - type: 137
            family: IPv6
      - fromCIDR:
        - 0.0.0.0/0
        icmps:
        - fields:
          - type: 8
            family: IPv4
          - type: 0
            family: IPv4
          - type: 11
            family: IPv4
          - type: 133
            family: IPv6
          - type: 134
            family: IPv6
          - type: 135
            family: IPv6
          - type: 136
            family: IPv6
          - type: 137
            family: IPv6
      description: |
        Allows bidirectional ICMP echo traffic and IPv6 neighbor-discovery
        control messages for all selected endpoints in the cluster.
