resources:
  customerCsrcToExternal6443:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-customer-csrc-to-external-6443
    spec:
      endpointSelector:
        matchLabels:
          k8s:app.kubernetes.io/name: csrc-infra
      egress:
      - toEntities:
        - kube-apiserver
        - remote-node
        toPorts:
        - ports:
          - port: "6443"
            protocol: TCP
      - toCIDR:
        - 0.0.0.0/0
        toPorts:
        - ports:
          - port: "6443"
            protocol: TCP
  customerCcmToExternal6443:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-customer-ccm-to-external-6443
    spec:
      endpointSelector:
        matchLabels:
          k8s:app.kubernetes.io/name: ccm-infra
      egress:
      - toEntities:
        - kube-apiserver
        - remote-node
        toPorts:
        - ports:
          - port: "6443"
            protocol: TCP
      - toCIDR:
        - 0.0.0.0/0
        toPorts:
        - ports:
          - port: "6443"
            protocol: TCP
  customerCsrcToCoredns53:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-customer-csrc-to-coredns-53
    spec:
      endpointSelector:
        matchLabels:
          k8s:app.kubernetes.io/name: csrc-infra
      egress:
      - toEndpoints:
        - matchLabels:
            k8s:io.kubernetes.pod.namespace: {{ .Values.companyPrefix }}-coredns
            k8s:io.cilium.k8s.policy.serviceaccount: coredns
        toPorts:
        - ports:
          - port: "53"
            protocol: UDP
          - port: "53"
            protocol: TCP
  customerCcmToCoredns53:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-customer-ccm-to-coredns-53
    spec:
      endpointSelector:
        matchLabels:
          k8s:app.kubernetes.io/name: ccm-infra
      egress:
      - toEndpoints:
        - matchLabels:
            k8s:io.kubernetes.pod.namespace: {{ .Values.companyPrefix }}-coredns
            k8s:io.cilium.k8s.policy.serviceaccount: coredns
        toPorts:
        - ports:
          - port: "53"
            protocol: UDP
          - port: "53"
            protocol: TCP
  ciliumCIDRGroupCloudEndpoints:
    apiVersion: cilium.io/v2
    kind: CiliumCIDRGroup
    metadata:
      name: cloud-endpoints # TODO: deduplicate with cloud-endpoints-cidrs
    spec:
      externalCIDRs:
        - "192.168.9.6/32"
        - "192.168.68.14/32"
        - "192.168.69.3/32"
  customerCcmToWorldGrpc50051:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-customer-ccm-to-world-grpc-50051
    spec:
      endpointSelector:
        matchLabels:
          k8s:app.kubernetes.io/name: ccm-infra
      egress:
      - toCIDRSet:
        - cidrGroupRef: cloud-endpoints
        toPorts:
        - ports:
          - port: "50051"
            protocol: TCP
  customerCsrcToWorldGrpc50051:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-customer-csrc-to-world-grpc-50051
    spec:
      endpointSelector:
        matchLabels:
          k8s:app.kubernetes.io/name: csrc-infra
      egress:
      - toCIDRSet:
        - cidrGroupRef: cloud-endpoints
        toPorts:
        - ports:
          - port: "50051"
            protocol: TCP
  customerCcmClientToWorldGrpc50051:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-customer-ccm-client-to-world-grpc-50051
    spec:
      endpointSelector:
        matchLabels:
          k8s:app.kubernetes.io/name: ccm-client
      egress:
      - toCIDRSet:
        - cidrGroupRef: cloud-endpoints
        toPorts:
        - ports:
          - port: "50051"
            protocol: TCP
  customerCsrcClientToWorldGrpc50051:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-customer-csrc-client-to-world-grpc-50051
    spec:
      endpointSelector:
        matchLabels:
          k8s:app.kubernetes.io/name: csrc-client
      egress:
      - toCIDRSet:
        - cidrGroupRef: cloud-endpoints
        toPorts:
        - ports:
          - port: "50051"
            protocol: TCP
  s3BucketOperatorToWorldGrpc50051:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-egress-s3-bucket-operator-to-world-grpc-50051
    spec:
      description: "Allows egress from s3-bucket-operator to cloud manager on 50051."
      endpointSelector:
        matchLabels:
          k8s:io.cilium.k8s.policy.serviceaccount: s3-bucket-operator-controller-manager
          k8s:io.kubernetes.pod.namespace: {{ .Values.companyPrefix }}-s3-bucket-operator
      egress:
      - toCIDR:
        - 192.168.9.6/32
        toPorts:
        - ports:
          - port: "50051"
            protocol: TCP
  customerCsrcClientToExternal26443:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-customer-csrc-client-to-external-26443
    spec:
      endpointSelector:
        matchLabels:
          k8s:app.kubernetes.io/name: csrc-client
      egress:
      - toEntities:
        - kube-apiserver
        - remote-node
        toPorts:
        - ports:
          - port: "26443"
            protocol: TCP
      - toCIDR:
        - 0.0.0.0/0
        toPorts:
        - ports:
          - port: "26443"
            protocol: TCP
  customerCsrcClientToExternal6443:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-customer-csrc-client-to-external-6443
    spec:
      endpointSelector:
        matchLabels:
          k8s:app.kubernetes.io/name: csrc-client
      egress:
      - toEntities:
        - kube-apiserver
        - remote-node
        toPorts:
        - ports:
          - port: "6443"
            protocol: TCP
      - toCIDR:
        - 0.0.0.0/0
        toPorts:
        - ports:
          - port: "6443"
            protocol: TCP
  customerCcmClientToExternal26443:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-customer-ccm-client-to-external-26443
    spec:
      endpointSelector:
        matchLabels:
          k8s:app.kubernetes.io/name: ccm-client
      egress:
      - toEntities:
        - kube-apiserver
        - remote-node
        toPorts:
        - ports:
          - port: "26443"
            protocol: TCP
      - toCIDR:
        - 0.0.0.0/0
        toPorts:
        - ports:
          - port: "26443"
            protocol: TCP
  customerCcmClientToExternal6443:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-customer-ccm-client-to-external-6443
    spec:
      endpointSelector:
        matchLabels:
          k8s:app.kubernetes.io/name: ccm-client
      egress:
      - toEntities:
        - kube-apiserver
        - remote-node
        toPorts:
        - ports:
          - port: "6443"
            protocol: TCP
      - toCIDR:
        - 0.0.0.0/0
        toPorts:
        - ports:
          - port: "6443"
            protocol: TCP
  customerCcmClientToCoredns53:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-customer-ccm-client-to-coredns-53
    spec:
      endpointSelector:
        matchLabels:
          k8s:app.kubernetes.io/name: ccm-client
      egress:
      - toEndpoints:
        - matchLabels:
            k8s:io.kubernetes.pod.namespace: {{ .Values.companyPrefix }}-coredns
            k8s:io.cilium.k8s.policy.serviceaccount: coredns
        toPorts:
        - ports:
          - port: "53"
            protocol: UDP
          - port: "53"
            protocol: TCP
  ccnpHostIngressCcmInfra6443:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-host-ingress-ccm-infra-6443
    spec:
      description: "ccm-infra to host :6443 (infra kube-apiserver)"
      nodeSelector: {}
      ingress:
      - fromEndpoints:
        - matchLabels:
            k8s:app.kubernetes.io/name: ccm-infra
        toPorts:
        - ports:
          - port: "6443"
            protocol: TCP
  ccnpHostIngressCsrcInfra6443:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-host-ingress-csrc-infra-6443
    spec:
      description: "csrc-infra to host :6443 (infra kube-apiserver)"
      nodeSelector: {}
      ingress:
      - fromEndpoints:
        - matchLabels:
            k8s:app.kubernetes.io/name: csrc-infra
        toPorts:
        - ports:
          - port: "6443"
            protocol: TCP
  ccnpHostIngressCcmClient26443:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-host-ingress-ccm-client-26443
    spec:
      description: "ccm-client to host :26443 (nested kube-apiserver)"
      nodeSelector: {}
      ingress:
      - fromEndpoints:
        - matchLabels:
            k8s:app.kubernetes.io/name: ccm-client
        toPorts:
        - ports:
          - port: "26443"
            protocol: TCP
  ccnpHostIngressCsrcClient26443:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-host-ingress-csrc-client-26443
    spec:
      description: "csrc-client to host :26443 (nested kube-apiserver)"
      nodeSelector: {}
      ingress:
      - fromEndpoints:
        - matchLabels:
            k8s:app.kubernetes.io/name: csrc-client
        toPorts:
        - ports:
          - port: "26443"
            protocol: TCP
  customerCsrcClientToCoredns53:
    apiVersion: cilium.io/v2
    kind: CiliumClusterwideNetworkPolicy
    metadata:
      name: allow-customer-csrc-client-to-coredns-53
    spec:
      endpointSelector:
        matchLabels:
          k8s:app.kubernetes.io/name: csrc-client
      egress:
      - toEndpoints:
        - matchLabels:
            k8s:io.kubernetes.pod.namespace: {{ .Values.companyPrefix }}-coredns
            k8s:io.cilium.k8s.policy.serviceaccount: coredns
        toPorts:
        - ports:
          - port: "53"
            protocol: UDP
          - port: "53"
            protocol: TCP
