manager:
  args:
    - --metrics-secure=false
vaultConfigs:
  vault-secret:
    spec:
      address: https://vault.{{ .Values.companyPrefix }}-vault.svc:8200
      managerAuth:
        mountPath: {{ .Values.cluster.name }}
      tls:
        caBundleSecretRef:
          namespace: {{ .Values.companyPrefix }}-vault
          name: vault-tls-server
          key: ca.crt
        serverName: vault.{{ .Values.companyPrefix }}-vault.svc
