{{- if and .Values.addons.svck8sproxy.enabled .Values.addons.system.enabled }}
  {{- $context  := deepCopy . -}}
  {{- $_        := set $context.Values "addonName"      "svc-k8s-proxy"           -}}
  {{- $_        := set $context.Values "suffix"         "-client"           -}}
  {{- $_        := set $context.Values "parametersName" "parameters-client" -}}

---
apiVersion: addons.in-cloud.io/v1alpha1
kind: AddonPhase
metadata:
  name: svc-k8s-proxy-client
spec:
  rules:
{{- end }}
