{{- define "control-plane.phase.rules.disable" -}}
- name: disable
  criteria:
    - source:
        apiVersion: addons.in-cloud.io/v1alpha1
        kind: Addon
        name: {{ .Values.addonName }}
      jsonPath: $.spec.variables.controlPlaneReplicas
      operator: Equal
      value: 0
      keep: false
  selector:
    name: disable
    priority: 98
    matchLabels:
      addons.in-cloud.io/values: "disable"
      addons.in-cloud.io/addon: {{ .Values.addonName }}
{{- end }}
