grafana:
  name: grafana
  labels:
    dashboards: "grafana"
    app.kubernetes.io/name: grafana
  spec:
    config:
      log:
        mode: "console"
      auth:
        disable_login_form: "false"
      security:
        admin_user: "admin"
        admin_password: "supersecret"
    deployment:
      spec:
        template:
          spec:
            tolerations: []
            priorityClassName: ""
            containers:
              - name: grafana
                image: grafana/grafana:11.3.0
                securityContext:
                  allowPrivilegeEscalation: true
                  readOnlyRootFilesystem: false
                readinessProbe:
                  failureThreshold: 3
                resources:
                  requests:
                    cpu: 200m
                    memory: 500Mi
                  limits:
                    cpu: 1
                    memory: 2Gi

grafanaDataSources:
  victoriametrics:
    enabled: false
    spec:
      allowCrossNamespaceImport: false
      datasource:
        access: proxy
        isDefault: true
        jsonData:
          timeInterval: 5s
        name: victoriametrics
        type: prometheus
        url: https://vmselect:8481/select/0/prometheus
      instanceSelector:
        matchLabels:
          dashboards: grafana
      resyncPeriod: 10m0s

monitoring:
  enabled: false
  type: VictoriaMetrics
  namespace: default
  secureService:
    enabled: false
    # Create a secret containing both 'tls.crt' and 'tls.key' fields
    issuer:
      kind: ClusterIssuer
      name: default

istio:
  virtualService:
    enabled: false
    gateways:
      - default-ns/default
    hosts:
      - "*"
    http:
      name: grafana
      route:
        host: grafana-service
        port: 3000