victoria-metrics-k8s-stack:
  alertmanager:
    enabled: false

  vmagent:
    enabled: false

  vmalert:
    enabled: false

monitoring:
  enabled: false
  type: VictoriaMetrics
  namespace: default
  secureService:
    enabled: false
    # Create a secret containing both 'tls.crt' and 'tls.key' fields
    issuer:
      kind: ClusterIssuer
      name: default
  grafana:
    vmDatasource:
      enabled: false

additionalService:
  vmcluster:
    enabled: false

tls:
  vmInsert:
    enabled: false
    issuer:
      kind: ClusterIssuer
      name: default-issuer-name
    certificate:
      name: vminsert-tls
      secretName: vminsert-tls
      duration: 8760h
      renewBefore: 720h
      commonName: vminsert
      dnsNames:
        - vminsert.default.svc
        - vminsert.default.svc.cluster.local
      ipAddresses:
        - "127.0.0.1"
