istioVirtualService:
  vmalertmanager:
    enabled: true
    gateways:
      - {{ .Values.companyPrefix }}-istio-gw-internal/default
    hosts:
      - "*"
    path: "/alertmanager"
    http:
      name: vmalertmanager
      route:
        host: vmalertmanager.{{ .Values.companyPrefix }}-alertmanager
        port: 9093
