monitoring:
  serviceScrapeConfig:
    metricRelabelConfigs:
      vmalertmanager:
        - sourceLabels: [__name__]
          action: keep
          regex: "\
            alertmanager_alerts|\
            alertmanager_alerts_received_total|\
            alertmanager_build_info|\
            alertmanager_cluster_failed_peers|\
            alertmanager_cluster_health_score|\
            alertmanager_cluster_members|\
            alertmanager_cluster_messages_pruned_total|\
            alertmanager_cluster_messages_queued|\
            alertmanager_cluster_messages_received_size_total|\
            alertmanager_cluster_messages_received_total|\
            alertmanager_cluster_messages_sent_size_total|\
            alertmanager_cluster_messages_sent_total|\
            alertmanager_cluster_peers_joined_total|\
            alertmanager_cluster_peers_left_total|\
            alertmanager_cluster_reconnections_failed_total|\
            alertmanager_cluster_reconnections_total|\
            alertmanager_config_last_reload_success_timestamp_seconds|\
            alertmanager_config_last_reload_successful|\
            alertmanager_nflog_gossip_messages_propagated_total|\
            alertmanager_nflog_queries_total|\
            alertmanager_nflog_query_duration_seconds_bucket|\
            alertmanager_nflog_query_errors_total|\
            alertmanager_nflog_snapshot_duration_seconds_sum|\
            alertmanager_nflog_snapshot_size_bytes|\
            alertmanager_notification_latency_seconds_bucket|\
            alertmanager_notifications_failed_total|\
            alertmanager_notifications_total|\
            alertmanager_oversize_gossip_message_duration_seconds_bucket|\
            alertmanager_oversized_gossip_message_dropped_total|\
            alertmanager_oversized_gossip_message_failure_total|\
            alertmanager_oversized_gossip_message_sent_total|\
            alertmanager_silences|\
            alertmanager_silences_gossip_messages_propagated_total|\
            alertmanager_silences_queries_total|\
            alertmanager_silences_query_duration_seconds_bucket|\
            alertmanager_silences_query_errors_total|\
            alertmanager_silences_snapshot_size_bytes|\
            go_gc_duration_seconds_count|\
            go_gc_duration_seconds_sum|\
            go_goroutines|\
            go_memstats_alloc_bytes_total|\
            go_memstats_gc_sys_bytes|\
            go_memstats_heap_idle_bytes|\
            go_memstats_heap_inuse_bytes|\
            go_memstats_heap_released_bytes|\
            go_memstats_mcache_sys_bytes|\
            go_memstats_mspan_sys_bytes|\
            go_memstats_other_sys_bytes|\
            go_memstats_stack_inuse_bytes|\
            go_memstats_sys_bytes|\
            kube_service_info|\
            process_cpu_seconds_total|\
            process_max_fds|\
            process_open_fds|\
            process_resident_memory_bytes|\
            process_start_time_seconds|\
            process_virtual_memory_bytes|\
            scrape_series_added|\
            up\
            "
  enabled: true
