---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: crossplane
spec:
  template:
    spec:
      hostNetwork: true
      containers:
        - name: rbac-proxy
          image: gcr.io/kubebuilder/kube-rbac-proxy:v0.14.4
          args:
            - --secure-listen-address=0.0.0.0:11050
            - --upstream=http://127.0.0.1:8080
            - --tls-cert-file=/app/config/metrics/tls/tls.crt
            - --tls-private-key-file=/app/config/metrics/tls/tls.key
            - --v=2
          ports:
            - name: https-metrics
              containerPort: 11050
              protocol: TCP
          resources:
            requests:
              memory: "32Mi"
              cpu: "10m"
            limits:
              memory: "64Mi"
              cpu: "50m"
          volumeMounts:
            - name: rbac-proxy-tls
              mountPath: /app/config/metrics/tls
              readOnly: true
      volumes:
      - name: rbac-proxy-tls
        secret:
          defaultMode: 420
          secretName: crossplane-svc-tls
