---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: crossplane-rbac-manager
spec:
  template:
    spec:
      hostNetwork: true
      containers:
        - name: crossplane
          env:
            - name: KUBERNETES_SERVICE_HOST
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.hostIP
            - name: KUBERNETES_SERVICE_PORT
              value: '6443'
        - name: rbac-proxy
          image: gcr.io/kubebuilder/kube-rbac-proxy:v0.14.4
          args:
            - --secure-listen-address=0.0.0.0:11051
            - --upstream=http://127.0.0.1:8080
            - --tls-cert-file=/app/config/metrics/tls/tls.crt
            - --tls-private-key-file=/app/config/metrics/tls/tls.key
            - --v=2
          ports:
            - name: https-metrics
              containerPort: 11051
              protocol: TCP
          resources:
            requests:
              memory: "32Mi"
              cpu: "10m"
            limits:
              memory: "64Mi"
              cpu: "50m"
          volumeMounts:
            - name: rbac-proxy-tls
              mountPath: /app/config/metrics/tls
              readOnly: true
      initContainers:
        - name: crossplane-init
          env:
            - name: KUBERNETES_SERVICE_HOST
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.hostIP
            - name: KUBERNETES_SERVICE_PORT
              value: '6443'
      volumes:
      - name: rbac-proxy-tls
        secret:
          defaultMode: 420
          secretName: ccrossplane-rbac-manager-svc-tls
