companyPrefix: {{ .Values.companyPrefix }}
networkPolicies:
  controller:
    enabled: true
  repoServer:
    enabled: true
  redis:
    enabled: true
  server:
    enabled: true
  systemEnabled: {{ .Values.systemEnabled }}
