argo-cd:
  configs:
    cm:
      url: "https://{{ .Values.systemIstioGwDomainInternal }}/argocd"
    resources:
      limits:
        cpu: 8
        memory: 8Gi
istio:
  virtualService:
    gateways:
      - {{ .Values.companyPrefix }}-istio-gw-internal/default
