cilium:
  commonLabels:
    enable-policy.cilium.beget.com/value: "always"
    enable-host-firewall.cilium.beget.com/value: "true"
    policy-audit-mode.cilium.beget.com/value: "false"
  policyAuditMode: false
  policyEnforcementMode: always
  hostFirewall:
    enabled: true
