cilium:
  commonLabels:
    enable-policy.cilium.{{ .Values.companyPrefix }}.com/value: "always"
    enable-host-firewall.cilium.{{ .Values.companyPrefix }}.com/value: "true"
    policy-audit-mode.cilium.{{ .Values.companyPrefix }}.com/value: "false"
  policyAuditMode: false
  policyEnforcementMode: always
  hostFirewall:
    enabled: true
