{{- $dsName, $dsValue: := range .Values.grafanaDataSources }}
{{- if $dsValue.enabled -}}
{{- $dsSpec := $dsValue.spec }}
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: {{ $dsName | kebabcase }}
  namespace: {{ $.Release.Namespace }}
  {{- with $.Values.grafana.labels }}
  labels:
    {{ toYaml . | indent 4 }}
  {{- end }}
spec:
  {{ toYaml $dsSpec | indent 2 }}
{{- end }}
{{- end }}
