companyPrefix: {{ .Values.companyPrefix }}
etcdbackupS3SecretEndpoint: {{ .Values.etcdbackupS3SecretEndpoint }}
app:
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"
    - key: "node-role.kubernetes.io/master"
      operator: "Exists"
      effect: "NoSchedule"
networkPolicies:
  enabled: true

