victoria-metrics-k8s-stack:
  coreDns:
    enabled: false
  kubeDns:
    enabled: false
  kube-state-metrics:
    enabled: false
  alertmanager:
    enabled: false
  defaultDashboards:
    enabled: false
  defaultRules:
    create: false
  grafana:
    enabled: false
  prometheus-node-exporter:
    enabled: false
  victoria-metrics-operator:
    enabled: false
  vmagent:
    enabled: true
  vmalert:
    enabled: false
  vmcluster:
    enabled: false
  vmsingle:
    enabled: false

