vmInsertVIP: {{ .Values.system.vmInsertVIP }}
victoria-metrics-k8s-stack:
  fullnameOverride: "vmagent"
  vmagent:
    spec:
      tolerations:
        - key: "node-role.kubernetes.io/control-plane"
          operator: "Exists"
          effect: "NoSchedule"
        - key: "node-role.kubernetes.io/master"
          operator: "Exists"
          effect: "NoSchedule"
      podMetadata:
        labels:
          app: vmagent
          incloud-metrics: "infra"
      extraArgs:
        remoteWrite.tlsInsecureSkipVerify: "false"
      serviceScrapeNamespaceSelector:
        matchExpressions:
          - operator: Exists
            key: "in-cloud.io/clusterName"
      podScrapeNamespaceSelector:
        matchExpressions:
          - operator: Exists
            key: "in-cloud.io/clusterName"
      nodeScrapeNamespaceSelector:
        matchExpressions:
          - operator: Exists
            key: "in-cloud.io/clusterName"
      staticScrapeNamespaceSelector:
        matchExpressions:
          - operator: Exists
            key: "in-cloud.io/clusterName"
      probeNamespaceSelector:
        matchExpressions:
          - operator: Exists
            key: "incloud.io/clusterName"

      inlineRelabelConfig:
        - source_labels: [__name__]
          regex: "apiserver_request_sli_duration_seconds_bucket"
          action: drop

        - source_labels: [__name__]
          regex: "etcd_request_duration_seconds_bucket"
          action: drop

        - source_labels: [__name__]
          regex: "apiserver_watch_list_duration_seconds_bucket"
          action: drop

        - source_labels: [__name__]
          regex: "apiserver_response_sizes_bucket"
          action: drop

        - source_labels: [__name__]
          regex: "apiserver_request_body_size_bytes_bucket"
          action: drop

        - source_labels: [__name__]
          regex: "workqueue_queue_duration_seconds_bucket"
          action: drop

        - source_labels: [__name__]
          regex: "workqueue_work_duration_seconds_bucket"
          action: drop

        - source_labels: [__name__]
          regex: "apiserver_watch_events_sizes_bucket"
          action: drop

        - source_labels: [__name__]
          regex: "kubernetes_feature_enabled"
          action: drop

        - source_labels: [__name__]
          regex: "apiserver_watch_cache_read_wait_seconds_bucket"
          action: drop

        - source_labels: [__name__]
          regex: "container_tasks_state"
          action: drop

        - source_labels: [__name__]
          regex: "container_memory_failures_total"
          action: drop

        # Восстанавливает оригинальные лейблы, если они были собраны с внешнего кластера
        - action: replace
          source_labels: [exported_cluster_full_name]
          regex: (.+)
          target_label: cluster_full_name
          replacement: $1

        - action: replace
          source_labels: [exported_remotewrite_cluster]
          regex: (.+)
          target_label: remotewrite_cluster
          replacement: $1

        - action: replace
          source_labels: [exported_cluster_type]
          regex: (.+)
          target_label: cluster_type
          replacement: $1

      remoteWrite:
        - url: https://{{ .Values.system.vmInsertVIP }}:8480/insert/0/prometheus
          tlsConfig:
            caFile: /tls/cabundle/ca.crt
      volumeMounts:
        - name: trusted-ca-certs
          mountPath: /tls/cabundle
          readOnly: true
        - name: trusted-ca-certs
          mountPath: /etc/ssl/certs
          readOnly: true
      volumes:
        - name: trusted-ca-certs
          configMap:
            name: ca
      externalLabels:
        cluster_full_name: {{ .Values.customer.name }}-{{ .Values.cluster.name }}
        remotewrite_cluster: {{ .Values.customer.name }}-{{ .Values.cluster.name }}
        cluster_type: "infra"
  kubeControllerManager:
    enabled: true
    service:
      port: 11044
      targetPort: 11044
    vmScrape:
      spec:
        endpoints:
          - port: "http-metrics"
            scheme: "https"
            bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
            tlsConfig:
              caFile: "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"
              serverName: 127.0.0.1
  kubeScheduler:
    enabled: true
    service:
      port: 11045
      targetPort: 11045
    vmScrape:
      spec:
        endpoints:
          - port: "http-metrics"
            scheme: "https"
            bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
            tlsConfig:
              caFile: "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"
              serverName: 127.0.0.1
        jobLabel: "jobLabel"

monitoring:
  vmagent:
    serviceScrapeConfig:
      metricRelabelConfigs:
        - sourceLabels: [__name__]
          action: keep
          regex: "\
            go_gc_cpu_seconds_total|\
            go_gc_duration_seconds_count|\
            go_gc_duration_seconds_sum|\
            go_goroutines|\
            go_memstats_alloc_bytes_total|\
            go_memstats_gc_sys_bytes|\
            go_memstats_heap_idle_bytes|\
            go_memstats_heap_inuse_bytes|\
            go_memstats_heap_released_bytes|\
            go_memstats_mcache_sys_bytes|\
            go_memstats_mspan_sys_bytes|\
            go_memstats_other_sys_bytes|\
            go_memstats_stack_inuse_bytes|\
            go_memstats_sys_bytes|\
            go_sched_latencies_seconds_bucket|\
            process_cpu_cores_available|\
            process_cpu_seconds_total|\
            process_io_read_syscalls_total|\
            process_io_storage_read_bytes_total|\
            process_io_storage_written_bytes_total|\
            process_io_write_syscalls_total|\
            process_major_pagefaults_total|\
            process_max_fds|\
            process_num_threads|\
            process_open_fds|\
            process_pressure_cpu_stalled_seconds_total|\
            process_pressure_cpu_waiting_seconds_total|\
            process_pressure_io_stalled_seconds_total|\
            process_pressure_io_waiting_seconds_total|\
            process_pressure_memory_stalled_seconds_total|\
            process_pressure_memory_waiting_seconds_total|\
            process_resident_memory_anon_bytes|\
            process_resident_memory_bytes|\
            process_resident_memory_file_bytes|\
            process_start_time_seconds|\
            process_virtual_memory_bytes|\
            scrape_series_added|\
            up|\
            vm_app_start_timestamp|\
            vm_app_uptime_seconds|\
            vm_app_version|\
            vm_available_cpu_cores|\
            vm_available_memory_bytes|\
            vm_cache_entries|\
            vm_cache_misses_total|\
            vm_cache_requests_total|\
            vm_concurrent_insert_capacity|\
            vm_concurrent_insert_current|\
            vm_http_request_errors_total|\
            vm_http_requests_total|\
            vm_ingestserver_request_errors_total|\
            vm_ingestserver_requests_total|\
            vm_log_messages_total|\
            vm_persistentqueue_bytes_dropped_total|\
            vm_persistentqueue_bytes_pending|\
            vm_persistentqueue_read_duration_seconds_total|\
            vm_persistentqueue_write_duration_seconds_total|\
            vm_promscrape_config_last_reload_successful|\
            vm_promscrape_conn_bytes_read_total|\
            vm_promscrape_dial_errors_total|\
            vm_promscrape_max_scrape_size_exceeded_errors_total|\
            vm_promscrape_scrape_duration_seconds_bucket|\
            vm_promscrape_scrape_pool_targets|\
            vm_promscrape_scrape_response_size_bytes_bucket|\
            vm_promscrape_scraped_samples_sum|\
            vm_promscrape_scrapes_failed_total|\
            vm_promscrape_scrapes_timed_out_total|\
            vm_promscrape_scrapes_total|\
            vm_promscrape_targets|\
            vm_protoparser_read_errors_total|\
            vm_protoparser_rows_read_total|\
            vm_protoparser_unmarshal_errors_total|\
            vm_rows_ignored_total|\
            vm_rows_invalid_total|\
            vm_streamaggr_labels_compressor_items_count|\
            vm_streamaggr_labels_compressor_size_bytes|\
            vm_tcplistener_accepts_total|\
            vm_tcplistener_conns|\
            vm_tcplistener_read_bytes_total|\
            vm_tcplistener_written_bytes_total|\
            vmagent_http_request_errors_total|\
            vmagent_http_requests_total|\
            vmagent_relabel_config_last_reload_successful|\
            vmagent_remotewrite_block_size_rows_sum|\
            vmagent_remotewrite_conn_bytes_written_total|\
            vmagent_remotewrite_conns|\
            vmagent_remotewrite_packets_dropped_total|\
            vmagent_remotewrite_pending_data_bytes|\
            vmagent_remotewrite_queues|\
            vmagent_remotewrite_relabel_metrics_dropped_total|\
            vmagent_remotewrite_requests_total|\
            vmagent_remotewrite_retries_count_total|\
            vmagent_remotewrite_send_duration_seconds_total|\
            vmagent_rows_inserted_total\
            "
