vmInsertVIP: {{ .Values.system.vmInsertVIP }}
victoria-metrics-k8s-stack:
  fullnameOverride: "vmagent"
  vmagent:
    spec:
      tolerations:
        - key: "node-role.kubernetes.io/control-plane"
          operator: "Exists"
          effect: "NoSchedule"
        - key: "node-role.kubernetes.io/master"
          operator: "Exists"
          effect: "NoSchedule"
      podMetadata:
        labels:
          app: vmagent
          incloud-metrics: "infra"
      extraArgs:
        remoteWrite.tlsInsecureSkipVerify: "false"
      serviceScrapeNamespaceSelector:
        matchExpressions:
          - operator: Exists
            key: "in-cloud.io/clusterName"
      podScrapeNamespaceSelector:
        matchExpressions:
          - operator: Exists
            key: "in-cloud.io/clusterName"
      nodeScrapeNamespaceSelector:
        matchExpressions:
          - operator: Exists
            key: "in-cloud.io/clusterName"
      staticScrapeNamespaceSelector:
        matchExpressions:
          - operator: Exists
            key: "in-cloud.io/clusterName"
      probeNamespaceSelector:
        matchExpressions:
          - operator: Exists
            key: "incloud.io/clusterName"

      inlineRelabelConfig:
        # Восстанавливает оригинальные лейблы, если они были собраны с внешнего кластера
        - action: replace
          source_labels: [exported_cluster_full_name]
          regex: (.+)
          target_label: cluster_full_name
          replacement: $1

        - action: replace
          source_labels: [exported_remotewrite_cluster]
          regex: (.+)
          target_label: remotewrite_cluster
          replacement: $1

        - action: replace
          source_labels: [exported_cluster_type]
          regex: (.+)
          target_label: cluster_type
          replacement: $1

      remoteWrite:
        - url: https://{{ .Values.system.vmInsertVIP }}:8480/insert/0/prometheus
          tlsConfig:
            caFile: /tls/cabundle/ca.crt
      volumeMounts:
        - name: trusted-ca-certs
          mountPath: /tls/cabundle
          readOnly: true
        - name: trusted-ca-certs
          mountPath: /etc/ssl/certs
          readOnly: true
      volumes:
        - name: trusted-ca-certs
          configMap:
            name: ca
      externalLabels:
        cluster_full_name: {{ .Values.customer.name }}-{{ .Values.cluster.name }}
        remotewrite_cluster: {{ .Values.customer.name }}-{{ .Values.cluster.name }}
        cluster_type: "infra"

