victoria-metrics-k8s-stack:
  vmagent:
    spec:
      remoteWrite:
        - url: https://vminsert.{{ .Values.companyPrefix }}-vmcluster.svc:8480/insert/0/prometheus
          tlsConfig:
            caFile: /etc/ssl/certs/ca.crt
      volumeMounts:
        - name: trusted-ca-certs
          mountPath: /etc/ssl/certs
          readOnly: true
      externalLabels:
        cluster_full_name: {{ .Values.customer.name }}-{{ .Values.cluster.name }}
        remotewrite_cluster: {{ .Values.customer.name }}-{{ .Values.cluster.name }}
        cluster_type: "system"

