{{- if and .Values.addons.ccmcsrccontroller.enabled .Values.addons.system.enabled }}
  {{- $context  := deepCopy . -}}
  {{- $_        := set $context.Values "addonName"      "ccm-csrc-controller"           -}}
  {{- $_        := set $context.Values "suffix"         "-client"           -}}
  {{- $_        := set $context.Values "parametersName" "parameters-client" -}}

---
apiVersion: addons.in-cloud.io/v1alpha1
kind: AddonPhase
metadata:
  name: coredns-client
spec:
  rules:
{{- end }}
