argocdPlugins:
  kustomize: true

monitoring:
  serviceScrapeConfig:
    metricRelabelConfigs:
      - sourceLabels: [__name__]
        action: keep
        regex: "\
          container_cpu_cfs_periods_total|\
          container_cpu_cfs_throttled_periods_total|\
          container_cpu_cfs_throttled_seconds_total|\
          container_cpu_usage_seconds_total|\
          container_memory_rss|\
          container_memory_working_set_bytes|\
          container_network_receive_bytes_total|\
          container_network_receive_errors_total|\
          container_network_receive_packets_dropped_total|\
          container_network_receive_packets_total|\
          container_network_transmit_bytes_total|\
          container_network_transmit_errors_total|\
          container_network_transmit_packets_dropped_total|\
          container_network_transmit_packets_total|\
          container_oom_events_total|\
          kube_service_info|\
          namespace_cpu|\
          namespace_memory|\
          node_namespace_pod:kube_pod_info:|\
          scrape_series_added|\
          up\
          "
