metrics:
  enable: true
certManager:
  enable: true
  issuer:
    name: selfsigned-cluster-issuer

monitoring:
  serviceScrapeConfig:
    metricRelabelConfigs:
      - sourceLabels: [__name__]
        action: keep
        regex: "\
          kube_service_info\
          "
