{{- if and .Values.clientClusterEnabled .Values.addons.kubeadmresources.enabled }}
  {{- $context  := deepCopy . -}}
  {{- $_        := set $context.Values "addonName"      "kubeadm-resources"           -}}
  {{- $_        := set $context.Values "suffix"         "-client"           -}}
  {{- $_        := set $context.Values "parametersName" "parameters-client" -}}

---
apiVersion: addons.in-cloud.io/v1alpha1
kind: AddonPhase
metadata:
  name: kubeadm-resources-client
spec:
  rules:
{{- end }}
