istio:
  virtualService:
    enabled: true
    gateways:
      - {{ .Values.companyPrefix }}-istio-gw/default
    hosts:
      - "*"
    http:
      route:
        host: incloud-web-chart-oauth2-proxy
        port: 4080

